@charset "UTF-8";
/**======================**/
/** Vendor **============**/
/**======================**/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/**======================**/
/** Base **==============**/
/**======================**/
/**
 * Breakpoints
 */
/**
 * Colors
 */
/**
 * Specials
 */
/**
 * Responsive Text
 */
html {
  font-family: 'Quicksand', serif;
  font-size: 16px; }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 15px; } }
  @media only screen and (max-width: 800px) {
    html {
      font-size: 14px; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 13px; } }
  @media only screen and (max-width: 500px) {
    html {
      font-size: 12px; } }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 11px; } }

p, a, h1, h2, h3, h4 {
  transition: font-size 0s !important; }

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: #990000; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #3b434a; }
  body.noflow {
    overflow: hidden; }

.site-wrapper {
  margin-top: 75px;
  background-color: #fff;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s; }
  .site-wrapper.push {
    transform: translateX(300px); }

/**=======================**/
/** Components **========**/
/**=====================**/
.intro img {
  width: auto;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  float: right; }

.intro h1 {
  padding: 1rem;
  font-size: 2rem; }

.intro p {
  padding: 0 1rem 0.5rem;
  font-size: 1.2rem;
  line-height: 1.7; }

.intro__inner {
  max-width: 960px;
  margin: auto;
  padding: 4rem 0 2rem; }

.intro__text {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center; }

.topics {
  background-color: #ffffff;
  padding: 2rem 0 4rem; }

.topics__inner {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row; }

.topic {
  width: 25%;
  padding: 1rem;
  opacity: 0.8;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  text-align: center;
  text-decoration: none;
  color: #3C3B3D;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .topic:hover {
    opacity: 1; }
  @media only screen and (max-width: 1200px) {
    .topic {
      width: 50%; } }

.topic .icon {
  background: #1c1850;
  width: 120px;
  height: 120px;
  border-radius: 75px;
  -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 1rem 0; }

.topic h3 {
  color: #990000; }

.staff {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem; }
  .staff img {
    max-height: 150px;
    height: auto; }
  .staff a {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    padding-left: 2rem;
    color: rgba(60, 59, 61, 0.5);
    -webkit-transition: color, 0.6s;
    -moz-transition: color, 0.6s;
    transition: color, 0.6s; }
    .staff a:hover {
      color: #3C3B3D; }

.staff ul li {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-transition: background-color, 0.6s;
  -moz-transition: background-color, 0.6s;
  transition: background-color, 0.6s;
  margin: 1rem 0; }
  .staff ul li img {
    order: 0; }
  .staff ul li a {
    order: 1; }

.attorney img, .attorney-cv img {
  width: auto;
  max-width: 400px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  float: right; }

.attorney h1, .attorney-cv h1 {
  padding: 1rem;
  font-size: 2rem; }

.attorney h2, .attorney-cv h2 {
  padding: 1rem; }

.attorney p, .attorney-cv p {
  padding: 1rem;
  font-size: 1.3rem;
  line-height: 1.7; }

.attorney ul, .attorney-cv ul {
  padding-left: 2.5rem; }

.attorney li, .attorney-cv li {
  padding: 0.5rem; }

.attorney__inner {
  max-width: 1200px;
  margin: auto;
  padding: 2rem; }

.attorney__text {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center; }

.attorney-cv table td:first-child {
  width: 15%; }

.attorney ul a, .attorney ul a:visited, .attorney ul a:active {
  color: #5D9CEC; }

.attorney ul a:hover {
  color: #2f80e7; }

footer {
  padding: 4rem 0;
  background-color: #1c1850;
  color: white;
  -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  footer i, footer span {
    padding: 0 0.5rem; }
  footer i {
    font-size: 5px !important; }
  footer a {
    color: white; }
    footer a:hover {
      text-decoration: none; }

/**=======================**/
/** Modules **===========**/
/**=====================**/
header {
  padding: 0 1rem;
  height: 75px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  color: #990000;
  background-color: #ffffff;
  box-shadow: 0 0px 12px 6px rgba(60, 59, 61, 0.05);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s; }
  header h2, header nav.desktop {
    padding-right: 1rem; }
  header h2 {
    font-weight: 400;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  header a {
    padding: 0.5rem;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    color: #990000;
    font-weight: 400; }
  @media only screen and (max-width: 640px) {
    header {
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify; } }
  header.push {
    transform: translateX(300px); }

/******************/
/** Desktop ******/
/****************/
header nav.desktop {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  font-weight: 400; }
  header nav.desktop ul {
    cursor: pointer;
    list-style-type: none;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }
    header nav.desktop ul li {
      padding: 0.5rem;
      position: relative;
      display: inline-block; }
      header nav.desktop ul li ul {
        padding: 0; }
  header nav.desktop a {
    position: relative;
    top: 1.2rem;
    padding: 1.4rem 0.5rem;
    border-top: 3px solid transparent; }
    header nav.desktop a:hover {
      color: #1c1850;
      border-top: 3px solid #1c1850; }
  @media only screen and (max-width: 640px) {
    header nav.desktop {
      display: none; } }

/******************/
/** Mobile *******/
/****************/
header nav.mobile {
  margin-top: 75px;
  overflow-y: scroll;
  background-color: white;
  z-index: 1000;
  position: absolute;
  width: 300px;
  max-width: 50%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s; }
  header nav.mobile a {
    color: #990000; }
    header nav.mobile a:hover {
      color: #1c1850; }
  header nav.mobile > ul {
    list-style-type: none;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }
    header nav.mobile > ul > li {
      position: relative;
      padding: 1rem 2rem;
      text-align: left; }
      header nav.mobile > ul > li:before {
        position: absolute;
        left: 1rem;
        top: 21px;
        color: rgba(153, 0, 0, 0.5);
        font-size: 0.6rem;
        display: inline-block;
        font-family: FontAwesome;
        content: '\F068'; }
      header nav.mobile > ul > li li {
        padding: 0.5rem; }
  header nav.mobile.hidden {
    left: -300px; }

header nav.mobile > ul > li {
  border-bottom: 1px solid rgba(245, 247, 250, 0.3); }
  header nav.mobile > ul > li.open > a {
    content: 'Zur\FC  ck'; }

/*************/
/* Hamburger */
/*************/
header .hamburger-container {
  display: block; }

header .hamburger {
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }
  header .hamburger div {
    height: 3px;
    width: 100%;
    background-color: #990000;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s; }
  header .hamburger:hover div {
    background-color: #1c1850; }

/** Overlay **/
.mobile-menu-overlay {
  cursor: pointer;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(60, 59, 61, 0.3);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
  z-index: 9; }
  .mobile-menu-overlay.hidden {
    visibility: hidden;
    left: 100vw; }

.submenu-toggle {
  height: 3rem; }
  .submenu-toggle:hover, .submenu-toggle.open {
    background-color: rgba(245, 247, 250, 0.2); }
  .submenu-toggle.open {
    height: auto; }
    .submenu-toggle.open ul.submenu li {
      z-index: 1;
      display: block;
      opacity: 1; }
    .submenu-toggle.open:before {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
  .submenu-toggle:before {
    content: "\F067" !important; }

ul.submenu {
  padding: 0.5rem 0 0; }
  ul.submenu li {
    z-index: -111;
    position: relative;
    opacity: 0; }

/*----- Tabs -----*/
.tabs {
  width: 100%;
  display: inline-block; }

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
  display: block;
  clear: both;
  content: ''; }

.tab-links li {
  margin: 0px 5px;
  float: left;
  list-style: none; }

.tab-links a {
  padding: 9px 15px;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  font-size: 16px;
  font-weight: 600;
  color: #4c4c4c;
  transition: all linear 0.15s; }

.tab-links a:hover {
  text-decoration: none; }

li.active a, li.active a:hover {
  background: #fff;
  color: #4c4c4c; }

/*----- Content of Tabs -----*/
.tab-content {
  padding: 15px;
  border-radius: 3px;
  background: #f5f5f5; }

.tab {
  display: none; }

.tab.active {
  display: block; }

.bg-image {
  height: 60vh;
  background-size: cover;
  background-position: center right; }
  .bg-image .image-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(28, 24, 80, 0.35);
    -js-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }

.image-overlay h1 {
  font-weight: 400;
  background-color: rgba(28, 24, 80, 0.5);
  color: #ffffff;
  width: 100%;
  text-align: center; }

.bg-image.contained {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }
  .bg-image.contained .image-overlay {
    background-color: transparent; }

.text-section__inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 0; }

.text-section img {
  width: 30vw;
  max-width: 250px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  float: right; }

.text-section h1 {
  padding: 1rem;
  font-size: 2rem; }

.text-section h2, .text-section h3 {
  padding: 1rem; }

.text-section p {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.7; }

.text-section a, .text-section a:visited, .text-section a:active {
  color: #5D9CEC; }

.text-section a:hover {
  color: #2f80e7; }

.text-section ul {
  padding: 1rem 2.3rem;
  list-style-type: none;
  font-size: 1.3rem;
  line-height: 1.7; }

.text-section ul.disc {
  list-style-type: disc; }

.text-section blockquote {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.4rem;
  border-left: 2px solid rgba(153, 0, 0, 0.8); }
  .text-section blockquote small {
    font-size: 1.1rem;
    font-style: italic; }

.text-section.important {
  background-color: rgba(28, 24, 80, 0.5);
  color: rgba(255, 255, 255, 0.9); }

table {
  width: 100%;
  padding: 0 1rem;
  font-size: 1.2rem; }
  table tr {
    -webkit-transition: background-color, 0.6s;
    -moz-transition: background-color, 0.6s;
    transition: background-color, 0.6s; }
    table tr:hover {
      background-color: rgba(60, 59, 61, 0.1); }
  table td {
    padding: 0.5rem; }

.breadcrumbs {
  display: block;
  padding: 2rem 1rem 1rem;
  color: rgba(60, 59, 61, 0.4); }
  .breadcrumbs a {
    color: rgba(60, 59, 61, 0.4) !important; }
    .breadcrumbs a:hover {
      color: rgba(60, 59, 61, 0.8) !important; }

.text-section .tabs .tab-links {
  background-color: #f0f0f0;
  -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.text-section .tabs .tab-content {
  background-color: #f9f9f9; }

section.map {
  height: 400px; }
  section.map #map {
    height: 100%; }

ul.rechtsprechung {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 100; }
  ul.rechtsprechung li {
    padding-bottom: 1.0rem; }
  ul.rechtsprechung a {
    font-weight: 400; }

/*# sourceMappingURL=main.css.map*/