
{% extends 'SiteBundle:Default:base.html.twig' %}


{% block body %}

<header>

    <h2> Eisel & Karrmann Rechtsanwälte </h2>

  <nav class="desktop">
    <ul>
      <li><a href="#">Startseite</a></li>
      <li><a href="#">Impressum</a></li>
      <li><a href="#">Kontakt</a></li>

    </ul>
  </nav>

  <div class="hamburger-container">
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>


  <nav class="mobile hidden">
    <ul>
      <li><a href="#">Unsere Kanzlei</a>
        <ul>
          <li><a href="">Sekretariat</a></li>
          <li><a href="">Sprechzeiten</a></li>
          <li><a href="">Anfahrt</a></li>
        </ul>
      </li>

      <li><a href="#">Unsere Kanzlei</a>
        <ul>
          <li><a href="">Sekretariat</a></li>
          <li><a href="">Sprechzeiten</a></li>
          <li><a href="">Anfahrt</a></li>
        </ul>
      </li>

    </ul>
  </nav>

</header>

<main>

  <section class="intro">

    <div class="intro__inner">
      <h2>Eisel & Karrmann Rechtsanwälte</h2>

      <p>
        Sie benötigen anwaltlichen oder notariellen Rat in Ihren Angelegenheiten und eine Übersicht über die zu erwartenden Kosten? Wir heißen Sie herzlich willkommen auf den Seiten der Kanzlei Eisel und Karrmann, Ihrem Anwaltsbüro und Notariat in Bochum.
      </p>
      <p>
        Unsere Anwälte beraten Sie kompetent und zuverlässig in ihren Rechtsbereichen. Selbstverständlich vertreten wir Ihre Interessen auch vor Gericht, wenn dies erforderlich sein sollte. Und sollten wir Ihnen einmal nicht selbst weiterhelfen können, werden wir gerne für Sie den Kontakt zu unseren kompetenten Kooperationspartnern herstellen, damit Sie immer bestens beraten sind.
      </p>
    </div>



  </section>

</main>

{% endblock %}
