
{% extends 'SiteBundle:Default:base.html.twig' %}

{% block body %}

  <main>

    <section class="text-section">
      <div class="text-section__inner">
        <span class="breadcrumbs"><a href="{{ path('site_homepage') }}">Startseite</a> > <a href="{{ path('kosten') }}">Kosten</a></span>
        <h1>Der Anwalt muss nicht teuer sein!</h1>
        <img src="{{ asset('bundles/site/images/kosten.jpg') }}" alt="">
        <p>In den meisten Fällen kommen Mandanten zum Rechtsanwalt, weil Sie keine andere Wahl mehr haben. Wenn man dann auch noch im Unklaren darüber ist, welche finanziellen Belastungen durch die Inanspruchnahme anwaltlicher Hilfe auf einen zukommen, ist dies nicht gerade dabei behilflich, die bestehende Schwellenangst abzubauen. Deshalb sind wir bemüht, Ihnen auf diesen Seiten unseren "Preis" vorzustellen.</p>
        <p>Die Kanzlei Eisel & Karrmann ist stets bemüht, ihren Mandanten Spitzenleistungen zu einem vernünftigen Preis anzubieten. Auch wenn Qualität ihren Preis hat, muss gute anwaltliche Beratung nicht unerschwinglich sein, wie Sie anhand der nachfolgenden Ausführungen erkennen können.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Erstberatung und außergerichtliche Beratung</h1>
        <p>Seit dem 01.07.2006 sind die früher im <a href="http://www.gesetze-im-internet.de/rvg/" target="_blank">RVG</a> geregelten Gebührentatbestände für die außergerichtliche Beratung ersatzlos entfallen. Rechtsanwälte sind nunmehr gehalten, für Ihre Beratungstätigkeiten eine Gebührenvereinbarung mit Ihren Auftraggebern zu treffen. Die Höhe der Gebühren für die Erstberatung ist dabei auf einen Betrag von EUR 190,00 (zzgl. MwSt.) beschränkt.</p>
        <p>Sollen wir darüber hinaus weitere außergerichtliche Beratungstätigkeiten, wie etwa die Erstellung eines Gutachtens hinsichtlich der Rechtslage, für Sie übernehmen, vereinbaren wir gerne ein angemessenes Honorar mit Ihnen. Ihr Vorteil hierbei: Sie erhalten von uns eine minutengenaue Abrechnung, auf der Sie jede unserer Tätigkeiten genau nachvollziehen können.</p>
        <p>Selbstverständlich weisen wir Sie auch bei anderen als Beratungstätigkeiten auf die Möglichkeit eines Stundenhonorares hin, wenn wir dies für empfehlenswert halten.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Außergerichtliche und gerichtliche Tätigkeit</h1>
        <p>Die Anwaltskosten sind grundsätzlich zunächst von der Partei zu tragen, die den Anwalt beauftragt hat. Es kann jedoch möglich sein, das die Gegenseite zum Ersatz der Anwaltskosten (Schadenersatz, Verzugsksoten) verpflichtet ist.</p>
        <p>Im Rahmen eines Gerichtsverfahrens trägt die unterlegene Partei die Kosten, besteht eine Rechtsschutzversicherung tritt häufig auch diese für die Kosten ein.</p>
        <p>Für die konkrete Berechnung der Kosten sieht das Rechtsanwaltsvergütungsgesetz für die außergerichtliche und gerichtliche Vertretung des Mandanten die Abrechnung nach dem so genannten Streitwert vor. Der Streitwert soll dabei den Wert der Angelegnheit wiederspiegeln. Wird zum Beispiel ein Kaufpreis in Höhe von EUR 3000.- durch den Anwalt eingefordert, so bildet diese Forderung den Streitwert. Die Gebühren des Anwaltes entsprechen nicht diesem Wert, sondern werden anhand einer Gebührentabelle nach dem Streitwert bemessen. Lässt sich der Streitwert einmal nicht genau bestimmen, kann für die Angelegenheit der so genannte Regelstreitwert (EUR 4000.- in Zivilsachen, EUR 5000.- im Verwaltungsrecht) angesetzt werden.</p>
        <p>Außergerichtlich kann der Anwalt die Höhe der Gebühren innerhalb eines gewissen Rahmens beeinflussen und die Gebühren so an den Arbeitsumfang der Sache anpassen. Hier besteht auch die Möglichkeit die Gebühren über eine Honorarvereinbarung mit dem Mandanten von vorneherein festzulegen. Der vom Gesetz angestrebte Abschluss einer Honorarvereinbarung hat für Sie als Mandanten wiederum den Vorteil, dass Sie die entstehenden Kosten genau kalkulieren können.</p>
        <p>Im Rahmen eines Gerichtsverfahrens sieht das Gesetz feste Gebühren vor, die der Anwalt regelmäßig nicht unterschreiten darf. Der Spielraum für Vereinarungen mit dem Mandanten ist in diesem Bereich bewusst stark eingegrenzt worden.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Beratungs- und Prozesskostenhilfe</h1>
        <p>In Zeiten der finanziellen Krisen kommt es immer häufiger vor, dass sich einzelne Rechtssuchende die (Erst-)Beratung oder auch die Vertretung durch einen Anwalt nicht leisten können. Der Gesetzgeber ermöglicht in diesen Fällen die Inanspruchnahme der Beratungs- oder Prozesskostenhilfe (in Familiensachen der Verfahrenskostenhilfe).</p>
        <p>Die <strong>Beratungshilfe</strong> soll es dem Rechtssuchenden ermöglichen eine erste anwaltliche Einschätzung seines Anliegens zu erhalten. Zwar hat der Anwalt im Rahmen der Beratungshilfe auch die Möglichkeit, ein Anschreiben an andere Beteiligte aufzusetzen oder die gesamte Korrespondenz zu führen. Dies soll jedoch nur in Ausnahmefällen geschehen. Eine "Geschäftsführungshilfe" ist dem Gesetz fremd. Voraussetzung für die Gewährung der Beratungshilfe ist die Erteilung eines Berechtigungsscheins, bevor die Beratung erfolgt. Die Erteilung des Scheins erfolgt bei Vorliegen der gesetzlichen Voraussetzungen auf Antrag durch den Rechtspfleger beim Amtsgericht. Erfolgt die anwaltliche Beratung bevor ein Antrag auf einen Berechtigungsschein ausgestellt wird, ist der Anwalt nicht dazu verpflichtet, die Beratungshilfe nachtraglich zu beantragen. Die Beratung kann dann zu den allgemeinen Konditionen des jeweiligen Anwaltes durchgeführt werden. </p>
        <p>Einen Antrag auf Beratungshilfe können Sie <a href="http://eisel.de/downloads/beratungshilfe.pdf">hier</a> herunterladen.</p>
        <p>Die <strong>Prozesskostenhilfe</strong> (in Familiensachen: Verfahrenskostenhilfe) soll dem Rechtsuchenden eine Durchsetzung seiner berechtigten Interessen vor Gericht ermöglichen. Die Gewährung der Prozesskostenhilfe efolgt grundsätzlich zunächst als Darlehen. Sie ist davon abhängig, dass die Sache nicht von vorneherein ausichtslos erscheint und die wirtschaftliche Lage des Antragsstellers staatliche Hilfe erfordelich macht. Je nach der individuellen wirtschaftlichen Situation kann das Darlehen mit geringen Raten rückzahlbar sein, oder zunächst ohne Ratenzahlung gewährt werden. Bei ratenfreier Gewährung kann jedoch bis zu vier Jahre nach der Bewilligung noch eine (Teil-)Rückzahlungspflicht entstehen, wenn sich die Einkommensverhältnisse erheblich ändern. Ebenso kann in dieser Zeit die Ratenzahlungsverpflichtung angepasst werden oder ganz entfallen, wenn sich die Einkommenssituation verschlechtern sollte.</p>
        <p>Eine Erklärung über die persönlichen und wirtschaftlichen Verhältnisse (PKH-Antrag) können Sie <a
              href="http://eisel.de/downloads/pkh_antrag.pdf">hier</a> herunterladen.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Die Gebühren in Strafsachen</h1>
        <p>Wer in einem Strafverfahren verureilt wird, hat auch die Kosten des Verfahrens zu tragen. Dieser einfache Grundsatz der Kostentragungspflicht bedeutet für den Beschuldigten ein nicht ganz unerhebliches Risiko, da die Nichtverurteilung nicht die Befreiung von der Kostentragungspflicht bedeuten muss. Häufig wird der Beschuldigte seine so genannten "notwendigen Auslagen", zu denen auch die Kosten des Rechtsanwaltes zählen, selber tragen müssen.</p>
        <p>Die in der Zivilprozessordnung vorgesehene Möglichkeit der Prozesskostenhilfe (früher so gennates Armenrecht) kennt die Strafprozessordnung nicht. Auch die Beiordnung eines Pflichtverteidigers kann nicht mit der staatlichen Übernahme der Anwaltskosten - wie dies beispielsweise aus den USA bekannt ist - gleichgesetzt werden. Lediglich im Rahmen einer Erstberatung können Beschuldigte Beratungshilfe beantragen, sofern die übrigen Voraussetzungen für die Gewährung vorliegen.</p>
        <p>Die Kosten des Anwaltes richten sich nach dem 2004 elassenen Rechtsanwaltsvergütungsgsetz, sofern zwischen Anwalt und Mandant keine Vergütungsvereinbarung getroffen wurde. Eine Vereinbarung über die Kosten wird vom RVG nicht nur als zulässig angesehen, sondern zum Teil ausdrücklich erwünscht.</p>
        <p>Soweit sich die Gebühren nach den Vorschriften des RVG richten, hängt die konkrete Höhe von einer Vielzahl von Faktoren ab. So ist zu Berücksichtigen, in welchem Vefahrensstadium der Anwalt tätig wird, vor welchem Gericht das Verfahren anhängig ist, welche Bedeutung das Verfahren für den Mandanten hat, welchen Umfang die anwaltliche Tätigkeit hat, etc. Es ist aber auch die wirtschaftliche Leistungsfähigkeit des Mandanten zu berücksichtigen. Dem Anwalt steht somit die Möglichkeit zur Verfügung, seine Gebühren an die finanzielle Situation des Mandanten anzupassen.</p>
        <p>Aufgrund der verschiedenen Berechnungsfaktoren ist eine abstrakte Aussage über die Höhe der Anwaltskosten nicht möglich. In unseren Beratungsgesprächen bieten wir Ihnen daher eine Einschätzung der zu erwartenden Kosten anhand der konkreten Umstände Ihres Einzelfalles an. Der Abschluss einer Honrarvereinabrung kann dabei eine sinnvolle Möglichkeit sein, zunächst eventuell schwer überschaubare Kosten von Beginn an verbindlich zu gestalten.</p>
        <p>Eine Übersicht über die gesetzlichen Gebühren für den Strafverteidiger finden Sie in der Anlage 1 Teil 4 des RVG.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Bußgeldsachen</h1>
        <p>Die Gebühren in Bußgeldsachen richten sich nach den gleichen Grundsätzen, wie die Gebühren in Strafsachen. Die Gebühren fallen für bestimmte Verfahrensabschnitte und Tätigkeiten an. Die Höhe der jeweiligen Gebühren richtet sich nach der Anlage 1 Teil 5 zum RVG.</p>
        <p>Die genauen Kosten lassen sich daher nicht abstrakt vorab bestimmen, sondern sie müssen anhand der konkreten Verfahrenssituation bemessen werden. Lediglich eine Aussage über zu erwartende Mindest- und Höchstgebühren kann abstrakt getroffen werden.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Notariatsgebühren</h1>
        <p>Ähnlich wie die Anwaltsgebühren, richten sich auch die Gebühren des Notars nach einer Gebührenordnung, nämlich der Kostenordnung.</p>
        <p>Anders als das Rechtsanwaltsvergütungsgesetz, sieht die KostO allerdings keine Möglichkeit zum Abschluss einer Honorarvereinbarung vor, so dass grundsätzlich die gesetzlichen Gebühren zu entrichten sind.</p>
      </div>
    </section>



  </main>

{% endblock %}
