
{% extends 'SiteBundle:Default:base.html.twig' %}

{% block body %}

  <main>

    <section class="text-section">
      <div class="text-section__inner">
        <span class="breadcrumbs"><a href="{{ path('site_homepage') }}">Startseite</a> > <a href="{{ path('links') }}">Links</a></span>
        <h1>Links</h1>
        <img src="{{ asset('bundles/site/images/links.jpg') }}" alt="">
        <p>Auf dieser Seite haben wir für Sie einige interessante Links zusammengestellt. Neben Gesetzestexten finden Sie hier auch die Internetauftritte der regionalen Gerichte, der Kammern und unserer Kooperationspartner.</p>
        <p> Für den Inhalt der jeweiligen verlinkten Seite ist allein deren Betreiber verantwortlich. Auf den Inhalt dieser fremden Websites haben wir keinen Einfluss. Wir haben die Links vor der Aufnahme in diese Website geprüft. Dennoch können wir für den Inhalt und für nachträgliche Änderungen keine Gewährleistung übernehmen. </p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Berufsverbände und Vereine</h1>
        <ul class="disc">
          <li><a href="http://www.brak.de/">Bundesrechtsanwaltskammer</a> - Die Seite der Bundesrechtsanwaltskammer mit allen Gesetzestexten rund um das Berufsrecht der Rechtsanwälte</li>
          <li><a href="http://anwaltverein.de/de/">Deutscher Anwaltverein</a> - Der Deutsche Anwaltverein mit umfangreichen Informationen rund um den Anwaltsberuf</li>
          <li><a href="http://www.rechtsanwaltskammer-hamm.de/">Rechtsanwaltskammer Hamm</a> - Die Seite der Rechtsanwaltskammer Hamm mit Hinweisen zum Berufsrecht, den Listen der Pflichtverteidiger und einem Link zum Anwaltsuchdienst</li>
          <li><a href="http://www.strafverteidigervereinigung-nrw.de/">Strafverteidigervereinigung NRW</a> - Die Vereinigung der Strafverteidger in Nordrhein-Westfalen. Mit Informationen über Veranstaltungen und den Strafveretidiger-Notdienst.Westfälische Notarkammer</li>
          <li>- Die Seite der Notarkammer für den Bereich Westfalen mit Informationen rund um den Beruf des Notars</li>
        </ul>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Die Gerichte</h1>
        <p>Wir haben Ihnen einige Links zu Gerichten in der unmittelbaren und mittelbaren Nachbarschaft zusammengestellt. Die Internetauftritte informieren jeweils über Adressen, die örtliche und sachliche Zuständigkeit, die richterliche Geschäftsverteilung, die amtlichen Bekanntmachungen, usw.</p>
        <ul class="disc">
          <li><a href="http://www.ag-bochum.nrw.de/">AG Bochum</a></li>
          <li><a href="http://www.ag-herne.nrw.de/">AG Herne</a></li>
          <li><a href="http://www.ag-herne.nrw.de/"></a></li>
        </ul>
      </div>
    </section>





  </main>

{% endblock %}
