
{% extends 'SiteBundle:Default:base.html.twig' %}


{% block body %}

  <main>

    <section class="text-section">
      <div class="text-section__inner">
        <h2>Manifest zur Reduzierung des Aufenthalts in der Forensik (§ 63 StGB)</h2>
        <p>Die aktuellen Pläne der Bundesjustizministerin Frau Leutheusser-Schnarrenberger zur Anhebung der „Eintrittsschwelle“ in die Maßregel der Unterbringung im Psychiatrischen Krankenhaus bleiben so lange unzureichend, wie nicht auch die Aufenthaltsdauer der Maßregelvollzugspatienten reduziert wird.</p>
        <p>Hier bedarf es noch nicht einmal neuer Gesetze; vielmehr müssen sich Gerichte, Sachverständige und Kliniken „nur“ an die Rechtsprechung des Bundesverfassungsgerichts halten.</p>
        <p>Wir hatten schon am 8.10.1985 die grundlegende Entscheidung erstritten (2 BvR 1150/80, BVerfGE 70, S. 297 f.), dass bei der Vollstreckung der Maßregel des § 63 StGB der verfassungsmäßige Grundsatz der Verhältnismäßigkeit zu beachten ist. Nachdem diese Entscheidung aus Karlsruhe zunächst dazu geführt hatte, dass die Psychiatrischen Krankenhäuser tatsächlich leerer wurden, kam dann ein „roll back“, weil die Gesellschaft immer mehr eine „Vollkasko-Mentalität“ entwickelte und ein vermeintliches „Grundrecht auf Sicherheit“ dazu führte, eher 9 von 10 Patienten, die ungefährlich sind, auf Dauer festzuhalten, anstatt das Risiko einzugehen, 1 von 10 Patienten, der möglicherweise noch gefährlich ist, in Freiheit zu entlassen.</p>
        <p>Es gibt jedoch inzwischen nicht nur umfangreiche polizeiliche Kontrollprogramme in den Bundesländern (z.B. „KURS“), sondern auch bis ins Detail verfeinerte Auflagen und Weisungen bei der Führungsaufsicht, bis hin zur Krisenintervention (durch den neuen § 67 h StGB). Es gibt vielmehr auch eine neue Rechtsprechung des Bundesverfassungs-gerichts, die zu einer erheblichen Reduzierung des Aufenthalts in der Forensik führen müsste – wenn sich Gerichte, Sachverständige und Kliniken nur hieran halten würden.</p>
        <p>Es darf nämlich nicht mehr darauf abgestellt werden, ob noch die „Möglichkeit“ der erneuten Straffälligkeit besteht. Vielmehr muss – anhand von konkreten Umständen – im Einzelfall begründet werden, woraus sich die Annahme der - weiterbestehenden - Gefährlichkeit ergibt. Hierfür darf nicht allein auf die frühere Straftat zurückgegriffen werden (es sei denn, der Patient verweigert jegliche Therapie oder kündigt neue Taten an). Wenn der Patient jedoch eine Therapie durchlaufen hat, dann ist dieses ein Indiz, welches gegen die Annahme von Gefährlichkeit spricht.</p>
        <p>Wir haben diese neue Entscheidung des Bundesverfassungsgerichts vom 16.5.2013 erstritten (2 BvR 2671/11), die inzwischen auch durch eine weitere Entscheidung vom 5.7.2013 (2 BvR 2957/12) bestätigt worden ist. Da unsere Entscheidung bislang noch nicht veröffentlicht worden ist, verweisen wir auf den nachfolgenden Link: http://www.hrr-strafrecht.de/hrr/bverfg/11/2-bvr-2671-11.php?view .</p>
        <p>Mit der Veröffentlichung dieses Manifestes drücken wir die Erwartung aus, dass diese neue Entscheidung des Bundesverfassungsgerichts allseits beachtet wird, so dass es zu einer Reduzierung des Aufenthalts in der Forensik kommt.</p>
        <p>
          <strong>Lutz Eisel</strong>, Rechtsanwalt und Notar, Fachanwalt für Strafrecht <br>
          <strong>Tobias Reimann</strong>, Rechtsanwalt <br>
          <a href="//www.Manifest-Reduzierung-Forensik.de">www.Manifest-Reduzierung-Forensik.de</a>
        </p>
      </div>
    </section>


  </main>
{% endblock %}
