$bgcolor: #3b434a;
header {
  height: $nav-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 1rem;
  color: $light-gray;
  background-color: $bgcolor;
  box-shadow: 0 0px 6px 9px rgba($coal, 0.1);

  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(center);

  h2, nav.desktop {
    padding-right: 1rem;
  }

  h2 {
    @include flex(1);
  }

  a {
    padding: 0.5rem;
    font-weight: 700;
    text-decoration: none;
    @include transition(all 0.6s);

    color: rgba($light-gray, 0.5);

    &:hover {
      color: $light-gray;
      //background-color: rgba($gray, 0.8);

    }
  }

  @include max-screen($tablet-small) {
    @include justify-content(space-between);    
  }


  @include transform(translateX(0px));
  @include transition(all 0.6s);

  &.push {
    transform: translateX($mobile-nav-width);
  }
}

header nav.desktop {
  @include flex(1);
  font-family: 'Lato';
  font-weight: 400;

  ul {
    cursor: pointer;
    list-style-type: none;

    @include display(flex);
    @include justify-content(flex-end);

    li {
      padding: 0.5rem;
      position: relative;
      display: inline-block;

      ul { padding: 0}

    }
  }

  @include max-screen($tablet-small) {
    display: none;
  }
}


/******************/
/** Mobile *******/
/****************/
header nav.mobile {
  @include display(flex);
  @include flex-direction(column);
  padding-top: 4rem;

  z-index: 1000;
  background-color: $bgcolor;
  position: absolute;
  width: $mobile-nav-width;
  height: 100vh;
  top: 0;
  left: -$mobile-nav-width;
  @include transform(translateX(0px));
  @include transition(all 0.8s);

  a {
    color: rgba($light-gray, 0.6);

    &:hover {
      color: rgba($light-gray, 0.8);
    }
  }

  ul {
    list-style-type: none;
    @include display(flex);
    @include flex-direction(column);

    li {
      padding: 1rem;
      text-align: left;

      li { padding: 0.5rem;}
    }
  }

  &.hidden {
    @include transform(translateX(-$mobile-nav-width));
  }
}

header nav.mobile > ul > li {
  border-bottom: 1px solid rgba($light-gray, 0.3);

  &.open {
    > a { content: 'Zurück'}
    ul {
    }
  }
}


/*************/
/* Hamburger */
/*************/
header .hamburger-container {
  display: block;

}

header .hamburger {
  height: 30px;
  width: 30px;
  cursor: pointer;

  @include display(flex);
  @include flex-direction(column);
  @include justify-content(space-around);

  div {
    height: 3px;
    width: 100%;
    background-color: rgba($light-gray, 0.6);

    @include transition(all 0.6s);
  }

  &:hover {
    div {
      background-color: $light-gray;
    }
  }
}

/** Overlay **/
.mobile-menu-overlay {
  cursor: pointer;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  background-color: rgba($coal, 0.3);
  transform: translateX($mobile-nav-width);
  @include transition(all 0.6s);


  &.hidden {
    transform: translateX(100vw);
  }

}

.submenu-toggle {
  height: 3rem;
  @include transition(height, 0.6s);

  &:hover, &.open {
    background-color: rgba($light-gray, 0.2);
  }

  &.open {
    height: auto;

    ul.submenu {
      li {
        display: block;
        opacity: 1;
        @include transform(translateY(0));

        @include stagger-transition-delay(8, 0.5s, 0.1s);
        -webkit-transition: -webkit-transform 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.4s, opacity 0.3s 0.4s;
        -moz-transition: -moz-transform 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.4s, opacity 0.3s 0.4s;
        transition: transform 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.4s opacity 0.3s 0.4s;
      }
    }
  }


}

ul.submenu {
  padding: 0.5rem 0 0;
  li {
    z-index: -111;
    //display: none;
    position: relative;
    opacity: 0;
    @include transform(translateY(20px));
    @include stagger-transition-delay(0, 0s, 0s);
    -webkit-transition: -webkit-transform 0ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s, opacity 0s 0s;
    -moz-transition: -moz-transform 0ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s, opacity 0s 0s;
    transition: transform 0ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s opacity 0s 0s;
  }
}