header {
  padding: 0 1rem;
  height: $nav-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  color: $red;
  background-color: $white;
  box-shadow: 0 0px 12px 6px rgba($coal, 0.05);

  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(center);

  h2, nav.desktop {
    padding-right: 1rem;
  }

  h2 {
    font-weight: 400;
    @include flex(1);
  }

  a {
    padding: 0.5rem;
    font-weight: 700;
    text-decoration: none;
    @include transition(all 0.6s);

    color: $red;
    font-weight: 400;

      //background-color: rgba($gray, 0.8);

  }

  @include max-screen($tablet-small) {
    @include justify-content(space-between);
  }


  @include transform(translateX(0px));
  @include transition(all 0.6s);

  &.push {
    transform: translateX($mobile-nav-width);
  }
}


/******************/
/** Desktop ******/
/****************/
header nav.desktop {
  @include flex(1);
  height: 100%;
  font-weight: 400;

  ul {
    cursor: pointer;
    list-style-type: none;

    @include display(flex);
    @include justify-content(flex-end);

    li {
      padding: 0.5rem;
      position: relative;
      display: inline-block;

      ul { padding: 0}

    }
  }

  a {
    position: relative;
    top: 1.2rem;
    padding: 1.4rem 0.5rem;

    border-top: 3px solid transparent;

    &:hover {
      color: $blue;
      border-top: 3px solid $blue;

    }
  }

  @include max-screen($tablet-small) {
    display: none;
  }
}


/******************/
/** Mobile *******/
/****************/
header nav.mobile {
  margin-top: 75px;
  overflow-y: scroll;
  background-color: rgba($white, 0.9);

  z-index: 1000;
  position: absolute;
  width: $mobile-nav-width;
  max-width: 50%;
  height: 100vh;
  top: 0;
  left: 0;
  @include transition(all 0.8s);

  a {
    color: $red;

    &:hover {
      color: $blue;
    }
  }

  > ul {
    list-style-type: none;
    @include display(flex);
    @include flex-direction(column);

    > li {
      position: relative;
      padding: 1rem 2rem;
      text-align: left;
      &:before {
        position: absolute;
        left: 1rem;
        top: 21px;
        color: rgba($red, 0.5);
        font-size: 0.6rem;
        display: inline-block;
        font-family: FontAwesome;
        content: '\f068';
      }

      li { padding: 0.5rem;}
    }
  }

  &.hidden {
    left: -$mobile-nav-width;
  }
}

header nav.mobile > ul > li {
  border-bottom: 1px solid rgba($light-gray, 0.3);

  &.open {
    > a { content: 'Zurück'}
    ul {
    }
  }
}


/*************/
/* Hamburger */
/*************/
header .hamburger-container {
  display: block;

}

header .hamburger {
  height: 30px;
  width: 30px;
  cursor: pointer;

  @include display(flex);
  @include flex-direction(column);
  @include justify-content(space-around);

  div {
    height: 3px;
    width: 100%;
    background-color: $red;

    @include transition(all 0.6s);
  }

  &:hover {
    div {
      background-color: $blue;
    }
  }
}

/** Overlay **/
.mobile-menu-overlay {
  cursor: pointer;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: $mobile-nav-width;
  right: 0;
  bottom: 0;
  background-color: rgba($coal, 0.3);
  @include transition(all 0.8s);
  z-index: 9;


  &.hidden {
    visibility: hidden;
    left: 100vw;
  }

}

.submenu-toggle {
  height: 3rem;

  &:hover, &.open {
    background-color: rgba($light-gray, 0.2);
  }

  &.open {
    height: auto;

    ul.submenu {
      li {
        z-index: 1;
        display: block;
        opacity: 1;
      }
    }

    &:before {
      @include transform(rotate(90deg));
    }
  }

  &:before {
    content: "\f067" !important;
  }

}

ul.submenu {
  padding: 0.5rem 0 0;
  li {
    z-index: -111;
    //display: none;
    position: relative;
    opacity: 0;
  }
}
