.text-section {

  &__inner {
    @include inner-middle(960px);
    padding: 2rem 0;
  }

  img {
    width: 30vw;
    max-width: 250px;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
    margin: 1.5rem;
    float: right;
  }

  h1 {
    padding: 1rem;
    font-size: 2rem;
  }

  h2, h3 {
    padding: 1rem;
  }

  p {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.7;
  }

  a, a:visited, a:active {
    color: $blue-jeans;
  }

  a:hover {
    color: darken($blue-jeans, 10);
  }

  ul {
    padding: 1rem 2.3rem;
    list-style-type: none;
    font-size: 1.3rem;
    line-height: 1.7;
  }

  ul.disc {
    list-style-type: disc;
  }

  blockquote {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.4rem;
    border-left: 2px solid rgba($red, 0.8);


    small {
      font-size: 1.1rem;
      font-style: italic;
    }
  }
}




.text-section.important {
  background-color: rgba($blue, 0.5);
  color: rgba(#ffffff, 0.9);
}


table {
  width: 100%;
  padding: 0 1rem;
  font-size: 1.2rem;

  tr {
    @include transition(background-color, 0.6s);

    &:hover {
      background-color: rgba($coal, 0.1);
    }
  }

  td {
    padding: 0.5rem;
  }
}

.breadcrumbs {
  display: block;
  padding: 2rem 1rem 1rem;
  color: rgba($coal, 0.4);

  a {
    color: rgba($coal, 0.4) !important;
    &:hover { color: rgba($coal, 0.8) !important; }
  }
}


// Tab Code
.text-section .tabs {

  .tab-links {
    background-color: #f0f0f0;
    -js-display: flex;
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(center);
  }

  .tab-content {
    background-color: #f9f9f9;
  }
}