
.intro {

  img {
    width: auto;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
    margin :2rem;
    float: right;
  }

  h1 {
    padding: 1rem;
    font-size: 2rem;
  }

  p {
    padding: 0 1rem 0.5rem;
    font-size: 1.2rem;
    line-height: 1.7;
  }


}

.intro__inner {
  max-width: 960px;
  margin: auto;
  padding: 4rem 0 2rem;
}


.intro__text {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;

  @include display(flex);
  @include flex-direction(column);
  justify-content: center;
}
