
.topics {
  background-color: $dark-gray;

  -js-display: flex;
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
}

.topic {
  width: 25%;
  height: 300px;

  &, a { color: rgba($light-gray, 0.9); text-decoration: none; }


  background-color: rgba($coal, 0.3);
  padding: 2rem;
  opacity: 0.8;
  @include transition(opacity 0.6s);
  text-align: center;

  &:hover {
    opacity: 1;
  }

  @include max-screen(1200px) {
    width: 50%;
  }
}

.topic p {
  padding: 2rem;
}

.topic__bg {
  height: 100%;
  width: 100%;

  background-size: cover;
  background-position: center center;
}

.topic__text {
  width: 100%;
  height: 100%;
  background-color: rgba($coal, 0.8);

  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
}

.topic h2 {
  @include transition(all 0.6s);

  &:hover {
    color: $light-gray;
  }
}
