
{% extends 'SiteBundle:Default:base.html.twig' %}

{% block body %}

  <main>

    <section class="text-section">
      <div class="text-section__inner">
        <span class="breadcrumbs"><a href="{{ path('site_homepage') }}">Startseite</a> > <a href="{{ path('rechtsgebiete') }}">Rechtsgebiete</a> > <a
                  href="{{ path('bussgeldsachen') }}">Bußgeldsachen</a></span>
        <h1>Bußgeldsachen ~ Ordnungswidrigkeiten</h1>
        <img src="{{ asset('bundles/site/images/bussgeldsachen.jpg') }}" alt="">
        <p>Den Begriff der Bußgeldsache kennt das deutsche Recht eigentlich nicht. Das Bußgeld ist vielmehr eine der Rechtsfolgen, die für die Begehung einer Ordnungswidrigkeit verhängt werden können.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Allgemeines zum Ordnungswidrigkeitenrecht</h1>
        <p>Als Ordnungswidrigkeiten werden Vertöße gegen die öffentliche Sicherheit und Ordnung Verstanden, die zwar sanktioniert werden sollen, denen aber keine "ethische Vorwerfbarkeit" anhaftet und die darum nicht den "Makel der Strafe verdienen".</p>
        <p>Das Ordnungswidrigkeitenrecht ist also der "kleine Bruder" des Strafrechts. Im Laufe der Entwicklung des Ordnungswidrigkeitenerechts seit 1945 hat es immer wieder Tatbestände gegeben, die zunächst als Straftaten geahndet, später dann aber nur noch als Ordnungswidrigkeiten eingestuft wurden. Ebenso gibt es Delikte, die erst ab einem gewissen Schweregrad als Straftat verfolgt werden, während sie vorher nur den Tatbestand einer Ordnungswidrigkeit erfüllen. Ein Beispiel hierfür findet sich im Straßenverkehrsrecht: Führt jemand sein Fahrzeug unter dem Einfluss von Alkohol, so begeht er bei einer Blutalkoholkonzentration (BAK) von 0,5 Promille eine Verkehrsordnungswidrigkeit, ab einer BAK von 1,1 Promille begeht er eine Straftat, auch wenn es nicht zu alkoholbedingten Ausfallerscheinungen kommt.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Einschlägige Rechtsnormen</h1>
        <p>Die verschiedenen Ordnungswidrigkeiten sind - ähnliche wie die Tatbestände des Nebenstrafrechts - über eine beinahe unüberschaubare Anzahl von Gesetzen verteilt, z.B. im Straßenverkehrsgesetz, im Jugendschutzgesetz, der Gewerbeordnung, dem Bundesnaturschutzgesetz, dem Meldegesetz,etc.</p>
        <p>Gemeinsame Vorschriften für alle Ordnungswidrigkeiten und das anzuwendenede Verfahren, finden sich im Ordnungswidrigkeitengesetz.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Einschlägige Rechtsnormen</h1>
        <p>Die verschiedenen Ordnungswidrigkeiten sind - ähnliche wie die Tatbestände des Nebenstrafrechts - über eine beinahe unüberschaubare Anzahl von Gesetzen verteilt, z.B. im Straßenverkehrsgesetz, im Jugendschutzgesetz, der Gewerbeordnung, dem Bundesnaturschutzgesetz, dem Meldegesetz,etc.</p>
        <p>Gemeinsame Vorschriften für alle Ordnungswidrigkeiten und das anzuwendenede Verfahren, finden sich im Ordnungswidrigkeitengesetz.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Das Ordnungswidrigkeitenverfahren</h1>
        <p>Das Verfahren ist in zwei Teile unterteilt, in ein Verfahren vor den Verwaltungsbehörden, die als Ordnungsbehörden für die Ahndung von Ordnungswidrigkeiten zuständig sind, und in ein gerichtliches Verfahren, das nach dem Einspruch des Betroffenen eröffnet wird und in dem die Regelungen der StPO - bis auf wenige Ausnahmen - anzuwenden sind.</p>
        <p>Dem Betroffenen stehen im Ordnungswidrigkeitenrecht somit die gleichen Rechte zu, wie dem Beschuldigten im Strafverfahren. Zur effektiven Wahrung dieser Rechte ist es daher sinnvoll auch hier einen Verteidiger hinzuziehen.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Bußgelder</h1>
        <p>Rechtsfolge der Begehung einer Ordnungswidrigkeit kann eine Verwarnung oder ein Bußgeld sein. Im Straßenverkehrsrecht kann die Anordnung eines Fahrverbotes erfolgen.</p>
        <p>Bußgelder können den Betroffenen, obwohl Sie keine Strafe im Rechtssinne sind, ebenso hart treffen, wie Geldstrafen im Strafrecht. Die Höhe der Geldbuße ist je nach anzuwendendem Gesetz unteschiedlich. Sie beträgt mindestens 5 Euro und kann bis zu mehreren tausend Euro betragen.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Straßenverkehrsordnungswidrigkeiten</h1>
        <p>Den Straßenverkehrsordnungswidrigkeiten kommt aufgrund ihrer überragenden praktischen Bedeutung eine besondere Stellung im Ordnungswidrigkeitenrecht zu. Näheres zu den Bußgeldsachen im Verkehrsrecht können Sie hier erfahren.</p>
      </div>
    </section>


  </main>

{% endblock %}
