{% extends 'SiteBundle:Default:base.html.twig' %}

{% block body %}

<main>

  <section class="text-section">
    <div class="text-section__inner">
        <span class="breadcrumbs"><a href="{{ path('site_homepage') }}">Startseite</a> > <a href="{{ path('rechtsgebiete') }}">Rechtsgebiete</a> > <a
                  href="{{ path('strafverfahren') }}">Das Strafverfahren</a></span>
      <h1>Die notwendige Verteidigung</h1>
      <p>Streng genommen kennt die Strafprozessordnung den Begriff "Pflichtverteidigung" nicht. Vielmehr geht das Gesetz davon aus, dass der Beistand eines Verteidigers in bestimmten prozessualen Situationen "notwendig" ist.</p>
      <p>Von notwendiger Verteidigung wird dabei zum Beispiel ausgegangen, wenn das Verfahren erstinstanzlich vor dem Landgericht oder dem Oberlandesgericht stattfindet, dem Beschuldigten ein Verbrechen zur Last gelegt wird, ein Berufsverbot droht, die Schwere der Tat oder die Schwierigkeit der Sach- oder Rechtslage die Mitwirkung eines Verteidigers sonst gebietet. Seit 2010 wird die Verteidigung auch bei der Anordnung der Untersuchungshaft notwendig.</p>
      <p>Die Pflichtverteidigung hängt also nicht von der finanziellen Leistungsfähigkeit des Beschuldigten ab, sondern allein von der prozessualen Situation in der er sich befindet. Dies bedeutet zunächst, dass auch mitellose Beschuldigte im Falle ihrer Verurteilung keinen Anspruch auf Übernahme der Verteidigerkosten durch den Staat haben. Allerdings richtet sich der Vergütungsanspruch des Anwaltes nicht mehr gegen den Mandanten, sondern gegen die Staatskasse. Da die Anwaltskosten jetzt aber gleichzeitig auch als Verfahrenskosten anzusehen sind, und der Verurteilte die Kosten des Verfahrens zu tragen hat, ist er auf diesem Wege dennoch dazu verpflichtet, die Anwaltskosten zu tragen.</p>
      <p>Der Beschuldigte hat auch im Rahmen der Pflichtverteidigung das Recht, sich seinen Verteidiger jederzeit frei auszuwählen. Hat ein Beschuldigter bis zur Zustellung der Anklageschrift noch keinen Verteidiger, so kann ihm durch den zuständigen Richter ein Anwalt beigeordnet werden. Wichtig ist, dass auch der beigeordnete Anwalt unabhängig bleibt. Der Pflichtverteidiger ist kein verlängerter Arm des Staates, sondern genauso Verteidiger des Beshculdigten, wie jeder Wahlanwalt.</p>
      <p>Da die Beiordnung des Anwaltes aber erst zu einem Zeitpunkt erfolgt, indem die Weichen für die Hauptverhandlung regelmäßig schon gestellt sind, sollten Sie nicht zögern, auch im Falle einer absehbaren Pflichtvertedigung so früh wie möglich einen Anwalt Ihrer Wahl zu konsultieren.</p>
    </div>
  </section>

</main>

{% endblock %}