
{% extends 'SiteBundle:Default:base.html.twig' %}

{% block body %}

  <main>

    <section class="text-section">
      <div class="text-section__inner">
        <span class="breadcrumbs"><a href="{{ path('site_homepage') }}">Startseite</a> > <a href="{{ path('rechtsgebiete') }}">Rechtsgebiete</a></span>
        <h1>Tätigkeitsschwerpunkte</h1>
        <img src="{{ asset('bundles/site/images/strafrecht.jpg') }}" alt="">
        <p>Das Strafrecht ist sicherlich eines der schillernsten Rechtsgebiete, große Strafverfahren bestimmen oft über Wochen die Nachrichten. Über das Recht selbst ist dabei häufig doch nur wenig bekannt. Wir möchten Ihnen daher im Folgenden einen kleinen Überblick über einzelne Strafvorschriften geben.</p>

      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Allgmeiner Teil des Strafgesetzbuches</h1>

        <p>Im allgemeinen Teils des StGB sind die allgemeinen Voraussetzungen für eine Strafbarkeit geregelt. Einige dieser Voraussetzungen haben wir für Sie erläutert.</p>
      </div>
    </section>



  </main>

{% endblock %}
