
{% extends 'SiteBundle:Default:base.html.twig' %}


{% block body %}

  <main>

    <div class="bg-image contained" style="background-image: url({{ asset('bundles/site/images/team.jpg') }})">
      <div class="image-overlay">
        <h1>Sekretariat</h1>
      </div>
    </div>


    <section class="intro">
      <div class="intro__inner">
        <span class="breadcrumbs"><a href="{{ path('site_homepage') }}">Startseite</a> > <a href="{{ path('site_unsere_kanzlei') }}">Unsere Kanzlei</a> > <a href="{{ path('sekretariat') }}">Sekretariat</a></span>
        <h1>Unser Kanzleiteam auf einen Blick</h1>
        <p>In unserem Büro werden Sie durch Frau Frau Delia Siepmann, Frau Birgit Schreer, Frau Angelika Lemke und Frau Nicole Wendland begrüßt. Bei allen Fragen rund um das Büro sind Sie hier in besten Händen.</p>
      </div>
    </section>

  </main>

{% endblock %}
